
.content{
    margin-top: 2.5rem;
}
.panel_box{
    width:100%;
    border: none;
}
.item_box{
    height: 1rem;
    background: #ddd;
}

.panel_box ul{
    padding: 0;
    margin: 0;
}
.panel_box ul li{
    list-style: none;
    text-align: left;
    margin-bottom: .5rem;
    cursor:pointer;
}
.main_content{
    display: flex;
   
}
.left_nav{
    width: 12%;
}
.right_item{
    width: 74%;
}
.tb_item tb{
    text-align: centers;
    width: 10%;
}